:root {
  --color-white-50: #ffffff;
  --color-white-100: #fcfcfb;
  --color-white-200: #f9f8f8;
  --color-white-300: #f7f5f5;
  --color-white-400: #f4f2f1;
  --color-white-500: #c4c2c1;
  --color-white-600: #939292;
  --color-white-700: #636262;
  --color-white-800: #333232;
  --color-white-900: #020202;
  --color-black-50: #010101;
  --color-black-100: #0d0d0d;
  --color-black-200: #1a1919;
  --color-black-300: #262626;
  --color-black-400: #333232;
  --color-black-500: #5b5b5b;
  --color-black-600: #848383;
  --color-black-700: #acacac;
  --color-black-800: #d5d4d4;
  --color-black-900: #fdfdfd;
  --color-primary-base: #f90c71;
  --color-primary-base-rgb: 249, 12, 113;
  --color-primary-tint: #fa247f;
  --color-primary-shade: #db0b63;
  --color-primary-tint-rgb: 250, 36, 127;
  --color-primary-shade-rgb: 219, 11, 99;
  --color-primary-contrast: #ffffff;
  --color-primary-contrast-rgb: 255, 255, 255;
  --color-primary-shadow-light: #fb3a8c;
  --color-primary-shadow-light-rgb: 251, 58, 140;
  --color-primary-shadow-dark: #c10a57;
  --color-primary-shadow-dark-rgb: 193, 10, 87;
  --color-secondary-base: #d80a63;
  --color-secondary-base-rgb: 216, 10, 99;
  --color-secondary-tint: #dc2373;
  --color-secondary-shade: #be0957;
  --color-secondary-tint-rgb: 220, 35, 115;
  --color-secondary-shade-rgb: 190, 9, 87;
  --color-secondary-contrast: #ffffff;
  --color-secondary-contrast-rgb: 255, 255, 255;
  --color-secondary-shadow-light: #e03981;
  --color-secondary-shadow-light-rgb: 224, 57, 129;
  --color-secondary-shadow-dark: #a7084d;
  --color-secondary-shadow-dark-rgb: 167, 8, 77;
  --color-error-base: #fc394d;
  --color-error-base-rgb: 252, 57, 77;
  --color-error-tint: #fc4d5f;
  --color-error-shade: #de3244;
  --color-error-tint-rgb: 252, 77, 95;
  --color-error-shade-rgb: 222, 50, 68;
  --color-error-contrast: #ffffff;
  --color-error-contrast-rgb: 255, 255, 255;
  --color-error-shadow-light: #fc5f6f;
  --color-error-shadow-light-rgb: 252, 95, 111;
  --color-error-shadow-dark: #c32c3c;
  --color-error-shadow-dark-rgb: 195, 44, 60;
  --color-success-base: #3cb989;
  --color-success-base-rgb: 60, 185, 137;
  --color-success-tint: #50c095;
  --color-success-shade: #35a379;
  --color-success-tint-rgb: 80, 192, 149;
  --color-success-shade-rgb: 53, 163, 121;
  --color-success-contrast: #000000;
  --color-success-contrast-rgb: 0, 0, 0;
  --color-success-shadow-light: #62c6a0;
  --color-success-shadow-light-rgb: 98, 198, 160;
  --color-success-shadow-dark: #2f8f6a;
  --color-success-shadow-dark-rgb: 47, 143, 106;
  --color-warning-base: #f39237;
  --color-warning-base-rgb: 243, 146, 55;
  --color-warning-tint: #f49d4b;
  --color-warning-shade: #d68030;
  --color-warning-tint-rgb: 244, 157, 75;
  --color-warning-shade-rgb: 214, 128, 48;
  --color-warning-contrast: #000000;
  --color-warning-contrast-rgb: 0, 0, 0;
  --color-warning-shadow-light: #f5a75d;
  --color-warning-shadow-light-rgb: 245, 167, 93;
  --color-warning-shadow-dark: #bc712a;
  --color-warning-shadow-dark-rgb: 188, 113, 42;
  --color-light-base: #d6dade;
  --color-light-base-rgb: 214, 218, 222;
  --color-light-tint: #dadee1;
  --color-light-shade: #bcc0c3;
  --color-light-tint-rgb: 218, 222, 225;
  --color-light-shade-rgb: 188, 192, 195;
  --color-light-contrast: #000000;
  --color-light-contrast-rgb: 0, 0, 0;
  --color-light-shadow-light: #dee1e4;
  --color-light-shadow-light-rgb: 222, 225, 228;
  --color-light-shadow-dark: #a5a9ac;
  --color-light-shadow-dark-rgb: 165, 169, 172;
  --color-dark-base: #153150;
  --color-dark-base-rgb: 21, 49, 80;
  --color-dark-tint: #2c4662;
  --color-dark-shade: #122b46;
  --color-dark-tint-rgb: 44, 70, 98;
  --color-dark-shade-rgb: 18, 43, 70;
  --color-dark-contrast: #ffffff;
  --color-dark-contrast-rgb: 255, 255, 255;
  --color-dark-shadow-light: #415972;
  --color-dark-shadow-light-rgb: 65, 89, 114;
  --color-dark-shadow-dark: #10263e;
  --color-dark-shadow-dark-rgb: 16, 38, 62;
  --color-background-base: #f3f8fc;
  --color-background-base-rgb: 243, 248, 252;
  --color-background-tint: #f4f9fc;
  --color-background-shade: #d6dade;
  --color-background-tint-rgb: 244, 249, 252;
  --color-background-shade-rgb: 214, 218, 222;
  --color-background-contrast: #000000;
  --color-background-contrast-rgb: 0, 0, 0;
  --color-background-shadow-light: #f5fafc;
  --color-background-shadow-light-rgb: 245, 250, 252;
  --color-background-shadow-dark: #bcc0c3;
  --color-background-shadow-dark-rgb: 188, 192, 195;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-white-50: #010101;
    --color-white-100: #0d0d0d;
    --color-white-200: #1a1919;
    --color-white-300: #262626;
    --color-white-400: #333232;
    --color-white-500: #5b5b5b;
    --color-white-600: #848383;
    --color-white-700: #acacac;
    --color-white-800: #d5d4d4;
    --color-white-900: #fdfdfd;
    --color-black-50: #ffffff;
    --color-black-100: #fcfcfb;
    --color-black-200: #f9f8f8;
    --color-black-300: #f7f5f5;
    --color-black-400: #f4f2f1;
    --color-black-500: #c4c2c1;
    --color-black-600: #939292;
    --color-black-700: #636262;
    --color-black-800: #333232;
    --color-black-900: #020202;
    --color-primary-base: #f90c71;
    --color-primary-base-rgb: 249, 12, 113;
    --color-primary-tint: #fa247f;
    --color-primary-shade: #db0b63;
    --color-primary-tint-rgb: 250, 36, 127;
    --color-primary-shade-rgb: 219, 11, 99;
    --color-primary-contrast: #ffffff;
    --color-primary-contrast-rgb: 255, 255, 255;
    --color-primary-shadow-light: #fb3a8c;
    --color-primary-shadow-light-rgb: 251, 58, 140;
    --color-primary-shadow-dark: #c10a57;
    --color-primary-shadow-dark-rgb: 193, 10, 87;
    --color-secondary-base: #d80a63;
    --color-secondary-base-rgb: 216, 10, 99;
    --color-secondary-tint: #dc2373;
    --color-secondary-shade: #be0957;
    --color-secondary-tint-rgb: 220, 35, 115;
    --color-secondary-shade-rgb: 190, 9, 87;
    --color-secondary-contrast: #ffffff;
    --color-secondary-contrast-rgb: 255, 255, 255;
    --color-secondary-shadow-light: #e03981;
    --color-secondary-shadow-light-rgb: 224, 57, 129;
    --color-secondary-shadow-dark: #a7084d;
    --color-secondary-shadow-dark-rgb: 167, 8, 77;
    --color-error-base: #fc394d;
    --color-error-base-rgb: 252, 57, 77;
    --color-error-tint: #fc4d5f;
    --color-error-shade: #de3244;
    --color-error-tint-rgb: 252, 77, 95;
    --color-error-shade-rgb: 222, 50, 68;
    --color-error-contrast: #ffffff;
    --color-error-contrast-rgb: 255, 255, 255;
    --color-error-shadow-light: #fc5f6f;
    --color-error-shadow-light-rgb: 252, 95, 111;
    --color-error-shadow-dark: #c32c3c;
    --color-error-shadow-dark-rgb: 195, 44, 60;
    --color-success-base: #3cb989;
    --color-success-base-rgb: 60, 185, 137;
    --color-success-tint: #50c095;
    --color-success-shade: #35a379;
    --color-success-tint-rgb: 80, 192, 149;
    --color-success-shade-rgb: 53, 163, 121;
    --color-success-contrast: #000000;
    --color-success-contrast-rgb: 0, 0, 0;
    --color-success-shadow-light: #62c6a0;
    --color-success-shadow-light-rgb: 98, 198, 160;
    --color-success-shadow-dark: #2f8f6a;
    --color-success-shadow-dark-rgb: 47, 143, 106;
    --color-warning-base: #f39237;
    --color-warning-base-rgb: 243, 146, 55;
    --color-warning-tint: #f49d4b;
    --color-warning-shade: #d68030;
    --color-warning-tint-rgb: 244, 157, 75;
    --color-warning-shade-rgb: 214, 128, 48;
    --color-warning-contrast: #000000;
    --color-warning-contrast-rgb: 0, 0, 0;
    --color-warning-shadow-light: #f5a75d;
    --color-warning-shadow-light-rgb: 245, 167, 93;
    --color-warning-shadow-dark: #bc712a;
    --color-warning-shadow-dark-rgb: 188, 113, 42;
    --color-light-base: #153150;
    --color-light-base-rgb: 21, 49, 80;
    --color-light-tint: #2c4662;
    --color-light-shade: #122b46;
    --color-light-tint-rgb: 44, 70, 98;
    --color-light-shade-rgb: 18, 43, 70;
    --color-light-contrast: #ffffff;
    --color-light-contrast-rgb: 255, 255, 255;
    --color-light-shadow-light: #415972;
    --color-light-shadow-light-rgb: 65, 89, 114;
    --color-light-shadow-dark: #10263e;
    --color-light-shadow-dark-rgb: 16, 38, 62;
    --color-dark-base: #f3f8fc;
    --color-dark-base-rgb: 243, 248, 252;
    --color-dark-tint: #f4f9fc;
    --color-dark-shade: #d6dade;
    --color-dark-tint-rgb: 244, 249, 252;
    --color-dark-shade-rgb: 214, 218, 222;
    --color-dark-contrast: #000000;
    --color-dark-contrast-rgb: 0, 0, 0;
    --color-dark-shadow-light: #f5fafc;
    --color-dark-shadow-light-rgb: 245, 250, 252;
    --color-dark-shadow-dark: #bcc0c3;
    --color-dark-shadow-dark-rgb: 188, 192, 195;
    --color-background-base: #18385b;
    --color-background-base-rgb: 24, 56, 91;
    --color-background-tint: #2f4c6b;
    --color-background-shade: #153150;
    --color-background-tint-rgb: 47, 76, 107;
    --color-background-shade-rgb: 21, 49, 80;
    --color-background-contrast: #ffffff;
    --color-background-contrast-rgb: 255, 255, 255;
    --color-background-shadow-light: #445e7a;
    --color-background-shadow-light-rgb: 68, 94, 122;
    --color-background-shadow-dark: #122b46;
    --color-background-shadow-dark-rgb: 18, 43, 70;
  }
}
